@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 40px;
	margin-bottom: 50px;
}

a{
	text-decoration: none;
	color: black;
}

.red{
	background: linear-gradient(transparent 0%, #FF9393 0%);
}
.title p:nth-of-type(1){
    font-size: 1.1em;
	margin-top: 50px;
	font-weight: 700;	
}

.title p:nth-of-type(2){
	font-size: 1.1em;
	margin-top: 30px;
}

.currently p:nth-of-type(1){
	font-size: 1.1em;
	margin-top: 40px;
	font-weight: 700;
}

.currently p{
	font-size: 0.8em;
	margin-top: 12px;
}

.line{
    display: inline-block;
    position: relative;
}
.line::after{
    /*background: linear-gradient(transparent 0%, #ffff66 0%);*/
    background-color: #ffff66;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    height: 20px;
    width: 0;
    transition: 2.5s;
    z-index: -1;
}

.marker .line::after{
    width: 100%;
}
@media screen and (max-width:700px){
	body{
        padding: 0;
		margin: 0 auto;
		width: 92%;
	}

}